<div class="frase-form-container">
    <a href="/frases/dashboard">Voltar</a>
    <h1>Criando uma frase</h1>
    <form action="/frases/add" method="post">
        <div class="form-control">
            <label for="title">Frase:</label>
            <input type="text" name="title" placeholder="Digite a sua frase...">
        </div>
        <input type="submit" value="Criar Frase">
    </form>
</div>